<div class="row p-4">
    <div class="col-sm-12 col-md-6 offset-md-3 my-4">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h2 class="text-left">Register</h2>
            <div class="form-floating mb-3">
                <input type="email"
                    formControlName="email"
                    class="form-control"
                    name="email"
                    [class.is-invalid]="f['email'].invalid &&( f['email'].dirty || f['email'].touched || isSubmitted)"
                    placeholder="name@example.com" />
                <label for="email">Email address</label>
                <span class="invalid-feedback"
                    *ngIf="f['email'].invalid &&( f['email'].hasError('required') || f['email'].touched || isSubmitted)">
                    Email is required.
                </span>
                <span class="invalid-feedback"
                    *ngIf="f['email'].invalid &&( f['email'].hasError('email') || f['email'].touched || isSubmitted)">
                    Email must be in proper format.
                </span>
            </div>
            <div class="form-floating mb-3">
                <input type="email"
                    formControlName="username"
                    class="form-control"
                    name="username"
                    [class.is-invalid]="f['username'].invalid &&( f['username'].dirty || f['username'].touched || isSubmitted)"
                    placeholder="name@example.com" />
                <label for="username">Username</label>
                <span class="invalid-feedback"
                    *ngIf="f['username'].invalid &&( f['username'].hasError('required') || f['username'].touched || isSubmitted)">
                    Username is required.
                </span>
            </div>
            <div class="form-floating">
                <input type="password"
                    formControlName="password"
                    class="form-control"
                    name="password"
                    [class.is-invalid]="f['password'].invalid &&( f['password'].dirty || f['password'].touched || isSubmitted)"
                    placeholder="Password" />
                <label for="password">Password</label>
                <span class="invalid-feedback"
                    *ngIf="f['password'].invalid &&( f['password'].hasError('required') || f['password'].touched || isSubmitted)">
                    Password is required.
                </span>
                <span class="invalid-feedback"
                    *ngIf="f['password'].invalid &&( f['password'].hasError('minlength') || f['password'].touched || isSubmitted)">
                    Password must be minimum 4 chars long.
                </span>
            </div>
            <button class="btn btn-lg btn-success mt-3">Login</button>
        </form>
    </div>
</div>