<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow h-[480px]">
    <a href="#">
        <img class="rounded-lg"
            src="https://image.tmdb.org/t/p/w500/{{movie?.backdrop_path}}"
            alt="" />
    </a>
    <span class="p-2 text-sm rounded-full border-teal-600 border-[2px] w-10 h-10 inline-block 
    bg-black text-white rating font-bold ">
        {{movie?.vote_average | number : '1.1-1'}}
    </span>
    <div class="px-3">
        <div class="mb-3 text-[22px] font-bold tracking-tight text-gray-900">
            {{movie?.title}}
        </div>
        <p class="mb-3 font-normal text-gray-700  h-[120px] overflow-y-hidden">
            {{movie?.overview}}
        </p>

        <a routerLink="/movies/details/{{movie?.id}}"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 
            focus:ring-gray-500 focus:bg-gray-900 focus:text-white ">
            more...
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10">
                <path stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </a>
    </div>
</div>