<div class="text-center p-3 m-3 fs-2 bg-gray-200 text-black text-3xl rounded-lg"
    *ngIf="isLoading">Loading...</div>
<div class="py-4 px-1"
    *ngIf="!isLoading">

    <div class="grid gap-2 grid-flow-colbg-white border border-gray-200 rounded-lg shadow h-[540px]">
        <img class="w-auto rounded-t-lg object-contain h-[540px] "
            src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}"
            alt="" />

        <div class="flex flex-col ms-3 leading-normal overflow-y-scroll">
            <div class="flex flex-row gap-2 items-center">
                <span class="mb-0 text-5xl font-bold tracking-tight text-gray-900 ">
                    {{movie?.title}}
                </span>
                <span
                    class="rounded-full text-center text-2xl font-bold w-auto p-2 h-auto bg-black text-white"
                    [ngStyle]="{'border': movie?.vote_average! >= 7 ? '5px solid green' : '5px solid yellow'}">
                    {{movie?.vote_average | number : '1.1-1'}}
                </span>
            </div>
            <div class="py-1 mb-3">
                <span *ngFor="let genre of movie?.genres"
                    class="text font-medium me-2 py-0.5 bg-transparent px-0 rounded ">{{genre.name}}</span>
                <span class="text font-medium me-2 py-0.5 bg-transparent px-0 rounded">{{movie?.release_date | date :
                    'MMM d, y'}}</span>
                <span class="text font-medium me-2 py-0.5 bg-transparent px-0 rounded">{{movie?.runtime! |
                    minuteHour}}</span>
            </div>


            <div class="mb-3 text-[20px] font-normal text-gray-700 ">
                <p class=" mt-3 mb-1 font-bold text-[22px]">Overview</p>
                <p>{{movie?.overview}}</p>
            </div>

            <div class="p-2 pt-0 flex flex-col">
                <p class="mt-3 font-bold text-[22px]">Production</p>
                <span *ngFor="let pc of movie?.production_companies"
                    class="bg-transparent text-blue-800 font-semibold me-2 px-0 py-0.5 ">
                    {{pc.name}}
                </span>
            </div>

            <app-crew-highlight [highlightCrew]="highlightCrew"></app-crew-highlight>

        </div>
    </div>
    <div class="py-2">
        <app-cast-highlight [cast]="credits?.cast"></app-cast-highlight>
    </div>

    <div class="flex flex-row justify-between items-center mt-3">
        <h3 class="font-bold text-2xl">Reviews: {{review?.total_results}}</h3>
        <div class="button-group">
            <button class="btn btn-lb btn-light"> <i class="bi bi-caret-left"></i>
            </button>
            <span>Page {{review?.page}} of {{review?.total_pages}}</span>
            <button class="btn btn-lb btn-light"> <i class="bi bi-caret-right"></i>
            </button>
        </div>
    </div>

    <div class="list-group">
        <div *ngFor="let r of review?.results"
            class="list-group-item list-group-item-action mb-1 mt-1"
            aria-current="true">
            <div class="flex items-center justify-between mb-1">
                <div class="text-[24px] font-bold">
                    <div class="flex w-100 justify-between items-center">
                        <span>
                            <img src="https://image.tmdb.org/t/p/w300/{{r.author_details.avatar_path}}"
                                alt=""
                                class="img-fluid me-2"
                                style="height: 64px; width: 64px; border-radius: 50%;" />
                        </span>
                        <span class="fs-4">{{r.author}}</span>
                        <span *ngIf="r.author_details.rating != null"
                            [class.bg-success]="r.author_details.rating >= 8"
                            [class.bg-warning]="r.author_details.rating < 8"
                            [class.bg-danger]="r.author_details.rating <= 5"
                            class="badge rounded-pill ms-1 mt-2">
                            {{r.author_details.rating}}
                            <span><i class="bi bi-star-fill"></i></span>
                        </span>
                    </div>
                </div>
                <small> {{r.created_at | date : 'MMM d, y'}} </small>
            </div>
            <p class="mb-1"
                [innerHTML]="r.content"></p>
            <small></small>
        </div>
    </div>

</div>